/* styles.module.css */
.login {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    align-items: center;
    justify-content: center;
    background-color: #28272C;
    border-radius: 3rem;
    padding: 2rem;
  }
  
  .loginTabs {
    margin-left: 95px;
    width: 100%;
    max-width: 400px;
    top: 0;
    background-color: #28272C;
    z-index: 1;
    font-size: 20px;
    padding: 20px 30px;
  }
  
  .titleInput{
    font-size: 15px;
  }

  .inputs {
    width: 200%;
    margin-top: 1rem;
    margin-left: -90px;
    padding: 5px; /* Adicione espaçamento interno */
  }
  
  .date {
    width: 200%;
    margin-top: 1rem;
    margin-left: -90px;
    padding: 0.2rem; /* Adicione espaçamento interno */
  }
  
  .buttonRegister {
    margin-left: -84px;
    margin-top: 2rem;
  }
  