.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  text-align: center;
}

.fundoCentral{
  width: 97vw;
  height: auto;
  border-radius: 40px;
  background-image: url(../../image/fundo.svg);
}

.Tabela{
  display: flex;
  justify-content: center;
  margin-left: 300vh;

}
