.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 22vh;
    text-align: center;
}

.fundoCentral{
    width: 97vw;
    height: auto;
    border-radius: 40px;
    background-image: url(../../image/fundo.svg);
  }

.container{
    display: flex;
    justify-content: space-between;
    
}