/* styles.module.css */

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

.header {
    margin-right: 2rem;
    margin-left: 2rem;
    width: 96vw;
    height: 257px;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: linear-gradient(#39383e 25%, #2C2B31 75%, #3A3841 40%);
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content h1 {
    display: flex;
    font-size: 7rem;
    justify-content: center;
    font-family: 'Allerta Stencil', sans-serif; /* Aplicando a fonte aqui */
    text-align: center;
    color: yellow;
}

.content div {
    width: 10%;
}

.logo {
    margin-left: -2rem;
    height: 10%;
    width: 10%;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5vw;
    margin-top: -0.3vw;
}

.userImg {
    padding-top: -10rem;
    margin-left: 90%;
}

.li {
    display: inline-block;
    position: relative;
}

.li::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.li:hover::after {
    background-color: #ffffff;
}
